node_modules
out
prepared
sphere_out
out_color
nexrad_color
nexrad_bw
air_traffic_out
kstl_flights
kstl_flights_21d
kstl_flights_21d_c
busch_stadium_hits_2025
busch_stadium_hits_2025_print
ct-drone 09-00-43-814
ct-drone
out_joplin_color__mk2
oz_f1m.ply
.gitignore
ozark_first_1m.ply
.gitignore
ozark_first_10k.ply
/bin/quantize
*.o
